$palette-primary: hsl(37, 98%, 53%);
$palette-secondary: hsl(50, 100%, 52%);
$palette-light: hsl(0, 0%, 99%);
$palette-lighter: hsl(0, 0%, 100%);
$palette-dark: hsl(221, 51%, 16%);
$palette-darker: hsl(211, 100%, 12%);
$palette-error: hsl(0, 69%, 50%);
$palette-success: hsl(164, 95%, 43%);
$palette-disabled: hsl(0, 0%, 85%);
