.CoinDetails {
  &--header {
    display: flex;
    flex-direction: column;
    gap: var(--theme-size-xlg);
    align-items: center;
  }

  &--buttonWrapper {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
  }

  &--backButton {
    height: var(--theme-size-xlg);
    width: var(--theme-size-xlg);
    color: var(--theme-palette-primary);
    cursor: pointer;
  }

  &--titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--title {
    font-size: var(--theme-size-xxxlg);
    font-weight: bold;
    margin: 0;
  }

  &--symbol {
    font-size: var(--theme-size-m);
    font-weight: bold;
    color: var(--theme-palette-primary);
  }
}
